---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: hotstar-deployment
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
  selector:
    matchLabels:
      app: hotstar
  template:
    metadata:
      labels:
        app: hotstar
    spec:
      containers:
      - name: hotstar-container
        image: waseem09/hotstar:latest
        ports:
        - containerPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: hotstar-service
spec:
  type: NodePort  # Changed from LoadBalancer for bare-metal/VM setup
  selector:
    app: hotstar
  ports:
    - port: 8081       # Internal Cluster Port
      targetPort: 3000 # Your React App Port
      nodePort: 32000  # External Port accessible at http://172.16.18.170:32000
